# OpenD connection
opend.host=127.0.0.1
opend.port=11111

# Futu platform account (牛牛号 / moomoo ID)
user.id=12345

# Trading account (get from accounts command)
trd.acc=123456

# MD5 of trade unlock password (only needed for trade commands)
unlock.trade.pwd.md5=

# Security firm for trade unlock
security.firm=SecurityFirm_FutuSecurities

# RSA private key path for encrypted OpenD connection (optional)
rsa.key.file=

# MySQL storage (default --format mysql)
mysql.host=127.0.0.1
mysql.port=3306
mysql.database=futu_openD
mysql.user=root
mysql.password=root123!
